<% include ../partials/headerNavUniv %>

    <a class="btn btn-outline-secondary" href="/university/<%= idAdmin %>/<%= idUniv %>/program">Add Programme</a>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Programme Name</th>
                <th scope="col">Description</th>
                <th scope="col">Closing Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% if(programmeList.length > 0) { let i=1; %>
                <% programmeList.forEach(function(programme) { %>
                    <tr class="table-light">
                        <th scope="row">
                            <%= i %>
                        </th>
                        <td>
                            <%= programme.programmeName  %>
                        </td>
                        <td>
                            <%= programme.description  %>
                        </td>
                        <td>
                            <%= moment(programme.closingDate).format("D MMMM YYYY")  %>
                        </td>
                        <td class="text-center">
                            <form class="form-inline" action="/university/<%= idAdmin %>/<%= programme._id %>?_method=DELETE" method="POST">
                                <a href="/university/<%= idAdmin %>/review/<%= programme._id %>" class="btn btn-warning mr-3" type="submit">Applicant</a>
                                <a href="/university/<%= idAdmin %>/edit/<%= programme._id %>" class="btn btn-warning mr-3" type="submit">Edit</a>
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% i++; }) %>
                        <% } else { %>
                            <tr class="table-light">
                                <td class="text-center" colspan="5">No Data Found</td>
                            </tr>
                            <% } %>
        </tbody>
    </table>

    <% include ../partials/footer %>