
<% include ../partials/headerNavSAS %>

    <a class="btn btn-outline-secondary" href="/sas/maintain">Back to Menu</a>
    <h4>Input Qualification Data</h4>
    <form id="formAddAdminQ" action="/sas/edit/<%= qualification._id %>?_method=PUT" method="POST">
        <div class="form-group row">
            <label for="qualificationName" class="col-sm-2 col-form-label">Qualification Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="qualificationName" name="qualificationName" required value="<%= qualification.qualificationName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="minimumScore" class="col-sm-2 col-form-label">Minimum Score</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="minimumScore" name="minimumScore" required value="<%= qualification.minimumScore %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="maximumScore" class="col-sm-2 col-form-label">Maximum Score</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="maximumScore" name="maximumScore" required value="<%= qualification.maximumScore %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="gradeList" class="col-sm-2 col-form-label">Grade List</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="gradeList" rows="3" name="gradeList" required><%= qualification.gradeList %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="resultCalcDesc" class="col-sm-2 col-form-label">Result Calculation Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="resultCalcDesc" rows="3" name="resultCalcDesc" required><%= qualification.resultCalcDesc %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" onclick="validateAddAdminQ()">Submit Data</button>
            </div>
        </div>
        <input type="hidden" name="id" value="<%= qualification._id %>">
    </form>

    <% include ../partials/footer %>

